#contenedorCarousel {
	width: 100%;
}

#carousel {
	margin: 0 auto;
	position: fixed;
}


button {
	border-radius: 100%;
	width: 1.2%;
	height: 12px;
	border: none;
	display: inline-block;
}

.centrar {
	text-align: center;
}